:root {
  --primary: #5539a3;
  --secondary: #ffd543;
  --accent: #ff6123;
  --background: #fff7eb;
  --gray1: #f8f8f8;
  --gray2: #c0c0c0;
  --gray3: #575757;
  --black: #000;
  --white: #fff;

  --spacing-none: 0;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

ul,
li,
h1,
h2,
h3,
p,
figure,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
